*{
    margin: 0;
    padding: 0;
}
html{
    background-color: #FDF4EA;
    /* height: 1000px; */
}

#head{
    text-align: left;
    width: 230px;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding: 0 200px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: white;
    z-index: 100;
    
    
}
#head button{
    margin-left: 12px;
}
body{
    text-align: left;
    
    
}
div{
    margin-top: 10px;
    width: 220px;
}
h1{
    text-align: center;
}
#save{
    height: 30px;
    border-radius: 5px;
    border: solid 1px black;
}
input{
    margin-right: 5px;
}
button{
    margin-left: 5px;
    background-color: #FDF4EA;
    border: 1px solid black;
    transition: all 0.2s;
    height: 30px;
    border-radius: 5px;
    width: 40px;
}
button:hover{
    background-color: rgb(230, 211, 192);
    
}

#AllButton{
    margin-top: 10px;
}

#Allinput{
    display: flex;
}